################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/projekt_wm/FileContentIndex/1be0b65f-6b79-42cc-baa5-0f72dfdb6058.vsidx
/.vs/projekt_wm/FileContentIndex/c983fc70-04f6-4299-8a8c-a61f722afb18.vsidx
